<!-- CS340 Project -->
<!-- Section    : 401-->
<!-- Team Member: Alice Li & Chang Li-->
<!-- Teacher Update Page -->
<html>
    
<body>
    <div class = "page-header">
        <h1>Fantastic High School Information Management</h1>
    </div>
        <center>
        <h1>Update {{teacher.first_name}} {{teacher.last_name}}:</h1>
        
        <br />
        <br />
        <div>
        <form id="update-teacher" action="/teachers" method="post">
            First name: <input type="text" name="first_name" value="{{teacher.first_name}}"><br>
            Last name: <input type="text" name="last_name" value="{{teacher.last_name}}"><br>
            Office ID: <select name="office_id" id="office-selector"> 
                        {{#each office}}
                            <option value="{{id}}">{{id}}</option>
                        {{/each}}
                    </select><br>
        </form>

        </br>
        </br>
        <button onclick="updateTeacher({{teacher.id}})">Update</button>
        <script defer>selectOffice({{teacher.office_id}});</script>
        </div>
        </center>
    </body>
</html>